.s-cart__topline{
    padding-top: 1.5em
}

.back-btn{
    background: $dark-blue;
    color: #fff;
    padding: .5em;
    float: right;
    transition: all .3s ease;
    .arrow{
        background: url(../../images/dist/svg/arrow-up-white.svg);
        display: inline-block;
        height: 1em;
        width: 1.5em;
        background-position: 0 0;
        background-size: contain;
        background-repeat: no-repeat;
        transition: all .3s ease;
    }
    &:hover{
        background: $accent;
        color: #000;
        .arrow{
            background: url(../../images/dist/svg/arrow-up-black.svg);
            display: inline-block;
            // height: 1.2em;
            // width: 1.5em;
            background-position: 0 0;
            background-size: contain;
            background-repeat: no-repeat;
            transform: scale(1.2);
        }
    }
}


.s-cart__header-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}
.s-cart__clear{
    background: $red;
    padding: .3em .5em;
    color: #fff;
    display: flex;
    align-items: center;
    img{
        height: 1em;
        margin-right: .5em;
        transition: .3s ease;
    }
    &:hover{
        img{
            transform: scale(1.15);
        }
    }
}




.s-cart__good{
    .goods-card{
        width: 75%;
        margin-top: 0;
        &__bg{
            height: 100%;
        }
        &__header{
            position: absolute;
            top: 15px;
            left: 150px;
            margin-top: 0;
            padding: .3em 2em;
            white-space: nowrap;
            
        }
        &__descr-wrapper{
            width: 45%;
            position: absolute;
            left: 250px;
            bottom: 1em;
            
            p{
                line-height: 1.2;
                background: #fff;
                box-shadow: 0 0 10px rgba(#000, .3);
                border-radius: 25px;
                display: flex;
                align-items: center;
                // justify-content: space-between;
            }
            .f-right, .f-left{
                box-shadow: none;
                background: transparent;
            }
        }

    }  

}

.s-cart__math{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-cart__count{
    position: relative;
    height: 100%;
    .count-header{
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .count{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        .number{
            display: inline-block;
            font-size: 28px;
            padding: 0 .5em;
            color: #000;
            background: #fff;
        }
        button{
            font-size: 25px;
            padding: 0 .5em;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(#000, .3);
            line-height: 1.2;
            color: #000;
            background: #fff;
        }

        .sum{
            font-size: 36px;
            background: #fff;
            span{
                font-family: $caveat;
                font-style: italic;
            }
        }
    }

}


.equal{
    font-size: 32px;
}

.total{
    font-size: 32px;
    text-align: center;
    &-header{
        display: inline-block;
        background: $accent;
        padding: 0 .5em;
    }
    &-number{
        font-size: 40px;
        background: #fff;
        span{
            font-family: $caveat;
            font-size: 28px;
        }
    }
}


.s-cart__del{
    background: $red;
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        transition: .3s ease;
    }
    &:hover{
        img{
            transform: scale(1.15);
        }
        
    }
}

.order-btn{
    font-size: 22px;
    margin-top: 2em;
    padding: .3em 2em;
    border-radius: 1em;
    background: $green;
    color: #fff;
    transition: .3s ease;
    margin-bottom: 2em;
    &:hover{
        background: $accent;
        color: #000;
    }
}

.back-to-cart{
    padding: .5em 1em .5em .5em;
    box-shadow: 0 0 10px rgba(#000, .3);
    display: flex;
    align-items: center;
    float: left;
    color: #000;
    background: #fff;
    cursor: pointer;
    &:hover{
        color: #000;
        img{
            transform: scale(1.2);
        }
    }
    img{
        height: 1.5em;
        margin-right: .5em;
    }
}

.cart-form{
    margin-top: 20%;
    color: #000;
    input{ 
        width: 100%;
        font-family: $roboto-condensed;
        border: none;
        box-shadow: 0 0 10px rgba(#000, .3);
        padding: .5em .5em;
        // border-radius: 10px;
    }
    .region-select{
        width: 100%;
        font-family: $roboto-condensed;
        font-size: 18px;
        font-weight: 400;
        border: none;
        // border-radius: 10px;
        .selectize-input{
            font-size: 18px;
            font-family: $roboto-condensed;
            border: none;
            box-shadow: 0 0 10px rgba(#000, .3);
            padding: .5em .5em;
            // border-radius: 10px;
            line-height: 1.65;
        }
        .selectize-dpopdown-content{
            line-height: 1.65;
        }
    }

    .cart-comment{
        width: 100%;
        height: 9em;
        resize: none;
        border: none;
        box-shadow: 0 0 10px rgba(#000, .3);
        font-family: $roboto-condensed;
        padding: .5em .5em;
    }
}   

.make-order{
    margin-top: 10%;
}


.thanks{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1,h3,h4{
        width: 100%;
        text-align: center;
    }
    h3,h4{
        font-family: $caveat;
    }
    h3{
        font-size: 32px;
    }
    h4{
        font-size: 28px;
    }

}


@media (max-width: 1200px) {
    .s-cart__good{
        .goods-card{
            width: 60%;
            &__header{
                left: 90px;
            }
            &__descr-wrapper{
                left: 200px;
                bottom: 0;
                p{
                    margin-top: .1em;
                }
            }

        }
    }
    
}

@media (max-width: 992px) {
    .s-cart__good{
        .goods-card{
            width: 75%;
            &__header{
                top: 0;
                padding: 0;
            }
            &__image{
                img{
                    height: 100px;
                    z-index: 2;
                }
            }
            &__descr-wrapper{
                width: 50%;
                left: 150px;
            }

        }  
    }
    .s-cart__count{
        .count{
            .sum{
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                span{
                    font-size: 22px;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .s-cart__good{
        .goods-card{
            &__header{
                top: 0;
                padding: 0;
                left: 0;
            }
            &__image{
                img{
                    height: 100px;
                    padding: .4em;
                }
            }
            &__descr-wrapper{
                width: 50%;
                left: 130px;
            }

        }
    }
    .s-cart__count{
        .amount-header{
            display: none;
        }
        .count{
            position: relative;
            justify-content: center;
            .plus{
                position: absolute;
                top: .5em;
            }
            .minus{
                position: absolute;
                bottom: .5em;
            }
        }
    }
}


@media (max-width: 576px) {
    .s-cart__good{
        .goods-card{
            &__header{
                h3{
                    font-size: 25px;
                }
            }
            &__descr-wrapper{
                width: 60%;
            }
        }
    }


    .order-btn{
        font-size: 21px;
        background: $green;
    }
}


@media (max-width: 480px){
    .s-cart__good{
        .goods-card{
            &:hover{
                .goods-card__image{
                    img{
                        transform: scale(1);
                    }
                }
            }
            width: 90%;
            &__header{
                h3{
                    font-size: 22px;
                    padding: .1em .5em;
                }
            }
            &__bg{
                width: 120%;
            }
            &__image{
                padding: 1.1em;
            }
            &__descr-wrapper{
                width: 45%;
                left: 100px;

                p{
                    font-size: 16px;
                    .f-right{
                        padding: .2em;
                    }
                    .f-left{
                        padding: .4em;
                    }
                }
            }
                
        }
    }
}