.footer{
    position: relative;
    margin-top: 400px;
    background: $dark-blue;
    padding-bottom: 50px;
    padding-top: 2em;
    .sect-header-wrapper{
        margin-top: 50px;
    }
    &__map{
        position: relative;
        height: 250px;
        width: 500px;
    }

    &__contacts-wrapper{
        float: right;
        text-align: right;
    }


    &__contacts-header{
        color: $accent;
    }

    .phone{
        color: #ffffff;
        font-size: 24px;
        cursor: pointer;
        display: block;
        &:hover{
            img{
                background: $green;
                transform: scale(1.05);
            }
        }
        span{
            color: $accent;
        }
        img{
            background: $accent;
            border-radius: 50%;
            margin-right: .3em;
            padding: .2em;
            margin-top: -.2em;
            transition: .3s ease;
        }
    }


    .social{
        display: inline-block;

        a{
            border-radius: 50%;
            height: 50px;
            width: 50px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
            transition: all .3s ease;
            svg, path{
                transition: .3s ease;
            }   
 
        }
        .fb-img{
            background: $fb-bg;
           
        }
        .inst-img{
            background: $inst-bg;
        }
        .viber-img{
            background: $viber-bg;
        }
        .wtsup-img{
            background: $wtsup-bg;
        }


        .fb-img, .inst-img, .viber-img, .wtsup-img{
            &:hover{
                background: $accent;
                svg path{
                    fill: #000;
                }
            }
        }



    }


    .copyright{
        display: inline-block;
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 10%;
        color: #ffffff;
        font-size: 18px;

    }
    
}

#to-top{
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
    display: none;
    background: $dark-blue;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    text-align: center;
    transition: all .3s ease;
    z-index: 2;
    padding: .4em 0;
    z-index: 4;
    &-arrow{
        position: relative;
        height: 100%;
        width: 100%;
        background: url(../../images/dist/svg/up-white.svg);
        background-size: 50% 50%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &:hover{
        background: $accent;
        #to-top-arrow{
            position: relative;
            height: 100%;
            width: 100%;
            background: url(../../images/dist/svg/up-black.svg);
            background-size: 50% 50%;
            background-position: center center;
            background-repeat: no-repeat ;
        }
    }

}


.side-cart-wrapper{
    position: fixed;
    right: 30px;
    bottom: 90px;
    z-index: 4;
}


.side-cart{ 
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(#000, .4);
    transition: .3s ease;
    background: #fff;
    background: url(../../images/dist/white_bg.png);
    &:hover{
        background: $accent;
        box-shadow: none;
        .cart-amount{
            background: $dark-blue;
            color: #fff;
        }
    }
    img{
        height: 20px;
    }


}

.cart-amount{
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: $accent;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.3em;
    width: 1.3em;
    font-size: 16px;
    transition: .3s ease;
    
    
}






@media (max-width: 992px) {
    .footer__contacts-wrapper{
        margin-top: 100px;
        float: none;
        text-align: center;
        .footer__contacts-header:nth-of-type(2){
            margin-top: 30px;
        }
    }
    .social{
        margin-top: 10px;
    }
}

@media (max-width: 768px) {

    #to-top{
        background: $accent;
        right: 15px;
        height: 50px;
        width: 50px;
        &-arrow{
            position: relative;
            height: 100%;
            width: 100%;
            background: url(../../images/dist/svg/up-black.svg);
            background-size: 50% 50%;
            background-position: center center;
            background-repeat: no-repeat ;
        }
    }

    .side-cart-wrapper{
        right: 15px;
        bottom: 80px;
    }
    .side-cart{
        height: 50px;
        width: 50px;
    }
    .footer{
        .copyright{
            margin-top: 20%;
        }
    }
}


@media (max-width: 480px) {
   
    .footer{
        margin-top: 250px;
        &__map{
            margin-top: 50px;
        }

    }
}