.sect-header-wrapper{
    margin-top: 10%;
    text-align: center;
    position: relative;
}

.goods-card{
    position: relative;
    border: none;
    width: 90%;
    margin-top: 120px;
    &:hover, &:focus{
        .goods-card__bg{
            opacity: .7;
        }

        .goods-card__image{
            img{
                transform: scale(1.2);
            }     
        }


        }
    
    &__bg{
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        img{
            height: 100%;
            width: 100%;
        }

    }

    &__header{
        
        h3{
            background: #fff;
            display: inline-block;
            padding: .3em 1em;
            margin-top: -1em;
            box-shadow: 0 0 10px rgba(#000, .3);
            z-index: 2;
        }
    }

    &__image{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.7em;
        padding-top: .7em;
        opacity: 1;
        
        img{
            height: 200px;
            transition: all .3s ease;
            z-index: 1;
        }
    }

    &__descr-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

    }

    &__descr{
        width: 100%;
        p{
            display: inline-flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-top: .5em;
        }   
        .f-right{
            float: right;
            font-size: 22px;
            line-height: 1;
            
            span{
                font-family: $caveat;
            }

        }
        .f-right, .f-left{
            background: #fff;
            box-shadow: 0 0 10px rgba(#000, .3);
            padding: .2em .8em;
            border-radius: 25px;
            z-index: 3;
        }
    }

    &__button-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: -4em;
        z-index: 9999 !important;
    }

    &__button{
        position: relative;
        font-size: 22px;
        display: inline-block;
        padding: .1em 2em;
        transition: all .2s ease-in-out;
        background: $accent;
        &:hover{
            background: $green;
            color: #fff;
            
        }

        
    }
}

@media (max-width: 1200px) {

    .goods-card__image{
        padding: 1.7em;
        padding-top: .7em;
        img{
            height: 150px;
        }
    }

}

@media (max-width: 768px) {
    .goods-card{
        width: 280px;
    }
    .sect-header-wrapper{
        margin-top: 25%;
    }
}

@media (max-width: 480px) {
    .goods-card{
        width: 270px;
    }
    .goods-card__descr{
        line-height: 1.2;
    }
    .sect-header-wrapper{
        margin-top: 35%;
    }
}